<div>
    <div class="kuiSideBarSection kuiSideBarSection__main">
        <div class="kuiSideBarSectionTitle">
            <div class="kuiSideBarSectionTitle__text"> Metrics</div>
        </div>
        <div ng-repeat="chart in $root.charts_option" class="kuiSideBarSection">
            <div class="kuiSideBarCollapsibleTitle">
                <div ng-init="isSeriesOpen = ($index === 0)" class="kuiSideBarCollapsibleTitle__label"
                     ng-click="isSeriesOpen = !isSeriesOpen" kbn-accessible-click aria-expanded="true"
                     aria-controls="visSeriesOptions0"
                     aria-label="Toggle Count options" tabindex="0" role="button">
                        <span aria-hidden="true"
                              ng-class="{ 'fa-caret-down': isSeriesOpen, 'fa-caret-right': !isSeriesOpen }"
                              class="kuiIcon kuiSideBarCollapsibleTitle__caret"></span>
                    <span class="kuiSideBarCollapsibleTitle__text">  {{chart.label}} </span>
                </div>
            </div>
            <div id="visSeriesOptions0" ng-show="isSeriesOpen" class="kuiSideBarCollapsibleSection"
                 aria-hidden="false">
                <!-- General -->
                <div class="kuiSideBarSection">

                    <div class="kuiSideBarFormRow">
                        <label class="kuiSideBarFormRow__label" for="sel1">
                            Chart Type
                        </label>
                        <div class="kuiSideBarFormRow__control">
                            <select class="form-control" id="sel1" ng-model="chart.type" ng-change="setHasChange()">
                                <option value="bar">Bar chart</option>
                                <option value="line">Line Chart</option>
                                <option value="spline">Spline Chart</option>
                                <option value="step">Step Chart</option>
                                <option value="scatter">Dot Chart</option>
                                <option value="area">Area Chart</option>
                                <option value="area-spline">Area-Spline Chart</option>
                                <option value="area-step">Area-Step Chart</option>
                            </select>
                        </div>
                    </div>

                    <div class="kuiSideBarFormRow">
                        <label class="kuiSideBarFormRow__label" for="sel3">
                            Color
                        </label>
                        <div class="kuiSideBarFormRow__control">
                            <input type="color" name="sel3" id="sel3" ng-model="chart.color" class="form-control"
                                   ng-change="setHasChange()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="kuiSideBarSection kuiSideBarSection__main">
        <form>
            <div class="kuiSideBarSectionTitle">
                <div class="kuiSideBarSectionTitle__text">Chart Time display </div>
            </div>
            <div class="kuiSideBarSection">
                <div class="kuiSideBarFormRow">
                    <label for="sel-time" class="kuiSideBarFormRow__label"> Time format</label>
                    <select class="kuiSelect kuiSideBarSelect ng-pristine ng-untouched ng-valid ng-not-empty" id="sel-time" ng-model="vis.params.time_format">
                        <option value="%Y-%m-%d">day - month - Years</option>
                        <option value="%Y-%m">Years - month</option>
                        <option value="%M">Month</option>
                        <option value="%Y">Years</option>
                        <option value="%H:%M">Hours Min</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="kuiSideBarSection kuiSideBarSection__main">

        <form>
            <div class="kuiSideBarSectionTitle">
                <div class="kuiSideBarSectionTitle__text"> Others</div>
            </div>

            <div class="kuiSideBarSection" ng-show="$root.show_chart">

                <div class="kuiSideBarFormRow" ng-show="shouldShowHidePoint()">
                    <label class="kuiSideBarFormRow__label" for="hidePoint"> Hide Points </label>
                    <div class="kuiSideBarFormRow__control">
                        <input class="kuiCheckBox ng-pristine ng-untouched ng-valid ng-not-empty" id="hidePoint"
                               type="checkbox" ng-model="vis.params.hidePoints">
                    </div>
                </div>

                <div class="kuiSideBarFormRow">
                    <label class="kuiSideBarFormRow__label" for="enableZoom"> Enable zoom </label>
                    <div class="kuiSideBarFormRow__control">
                        <input class="kuiCheckBox ng-pristine ng-untouched ng-valid ng-not-empty" id="enableZoom"
                               type="checkbox" ng-model="vis.params.enableZoom">
                    </div>
                </div>

                <div class="kuiSideBarFormRow">
                    <label class="kuiSideBarFormRow__label" for="showGrid"> Show grid lines </label>
                    <div class="kuiSideBarFormRow__control">
                        <input class="kuiCheckBox ng-pristine ng-untouched ng-valid ng-not-empty" id="showGrid"
                               type="checkbox" ng-model="vis.params.gridlines">
                    </div>
                </div>

                <div class="kuiSideBarFormRow" ng-show="shouldShowGrouped()">
                    <!-- ng-show="$root.activate_grouped" -->
                    <label class="kuiSideBarFormRow__label" for="stackBar"> Stacked Bar Mode </label>
                    <div class="kuiSideBarFormRow__control">
                        <input class="kuiCheckBox ng-pristine ng-untouched ng-valid ng-not-empty" id="stackBar"
                               type="checkbox" ng-model="vis.params.grouped">
                    </div>
                </div>

                <div class="kuiSideBarFormRow">
                    <label class="kuiSideBarFormRow__label" for="activeLabels"> Activate Data Labels </label>
                    <div class="kuiSideBarFormRow__control">
                        <input class="kuiCheckBox ng-pristine ng-untouched ng-valid ng-not-empty" id="activeLabels"
                               type="checkbox" ng-model="vis.params.dataLabels">
                    </div>
                </div>

                <div class="kuiSideBarFormRow">
                    <label class="kuiSideBarFormRow__label" for="fewXAxis"> Show just a few x-axis tick values </label>
                    <div class="kuiSideBarFormRow__control">
                        <input class="kuiCheckBox ng-pristine ng-untouched ng-valid ng-not-empty" id="fewXAxis"
                               type="checkbox" ng-model="vis.params.fewXAxis">
                    </div>
                </div>

                <div class="kuiSideBarFormRow">
                    <label class="kuiSideBarFormRow__label" for="sel-legend">Choose legend position</label>
                    <div class="kuiSideBarFormRow__control">
                        <select class="kuiSelect kuiSideBarSelect ng-pristine ng-untouched ng-valid ng-not-empty"
                                id="sel-legend" ng-model="vis.params.legend_position">
                            <option value="right">Right</option>
                            <option value="bottom">Bottom</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



